body {
    font-family:'Courier New', Courier, monospace;}
    h2 {color: blueviolet;}

p {
    color:black;
    background-color: rgb 207, 251, 218;}

    .myDiv {
        border: 5px outset blueviolet;
        background-color: pink;    
        text-align: center;  }

    .myDivvideo{
        border: 5px outset blue;
        background-color: greenyellow;    
        text-align: center; }

    body {
        background-color: lightcyan; }

      .navbar {
        width:100%;
        background-color: white;
        color: transparent;
        padding:25px 75px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        
        .navbar ul{
        list-style: none;
        gap:25px;
        display: flex;
        margin: 0;
        padding: 2px 100px;}
        
        .navbar ul li{
        position: relative;
        color: black }
        
        .navbar ul li a{
        text-decoration: none;
        font-size: 18px;
        color: black;}

        body {font-size: 1 em}

        h1 {font-size: 1.5 em}

        h2 { font-size: 1.25 em}

        .image {
            text-align: center;}

h2 {text-align: center}
h1 {text-align: center}


        